* {
  box-sizing: border-box;
}
 
img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
 
h1 {
  text-align: center;
  font-size: 2em;
  margin: 1em;
  font-weight: bold;
}
 
main {
  background-color: #eee;
  padding: 1em;
  position: relative;
}
 
#photo-gallery {
  background: #aaa;
  margin: 0 auto;
  max-width: 928px;
}

.person {
  width: 200px;
  padding: 1em;
  margin: 1em;
  background-color: white;
}

.person h3 {
  text-align: center;
  margin: 0.25em;
  font-size: 1.25em;
  font-weight: bold;
}

.person p {
  text-align: center;
  margin: 0.25em;
}
 
/* .person-template {
  display: none;
} */

.spinner {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}
 
.fa {
  margin-right: 0.5em;
}

#filter-sort-search {
  text-align: center;
  padding-bottom: 1em;
}