/* #photo-gallery:after {
  content: "";
  display: table;
  clear: both;
}
 
.person {
  float: left;
} */

#photo-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#filter-sort-search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}