.spinner {
  background-color: #4CAF50;
  color: white;
  padding: 12px 24px; 
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
}

/* Add a right margin to each icon */
.fa {
  margin-left: -12px;
  margin-right: 8px;
}

#photo-template {
  display: none;
}